---
const { data } = Astro.props
const price = parseInt(data.price)

const Prices = Intl.NumberFormat('fr-FR', {style : 'currency', currency : 'xaf'}).format(price)
const short = data.description.length > 50 ? `${data.description.substring(0, 49)}...` : data.description
---

<style>
    .pre {
        white-space: pre-line;
        line-height: 1;
        font-family: 'Atkinson Hyperlegible';
        padding: 0;
        margin-bottom: 16px;
    }
</style>

<div class= {`h-[400px] lg:h-[600px]  lg:min-w-[346px] lg:w-[100%] bg-slate-100 rounded-xl lg:rounded-[2rem] p-3 lg:p-6`}>
    <div class="flex flex-col h-full">
        <div class={`bg-slate-500 w-full aspect-square rounded-lg lg:rounded-2xl overflow-hidden`}>
            <img src={data.images[0]} alt="" class="w-full aspect-square object-cover" />
        </div>
        <div class="flex-1 pt-4">
            <div class="line-height-1 text-[24px] lg:text-[32px] font-semibold mb-4">{data.name}</div>
            <pre class="pre hidden lg:block">
                {short}
            </pre>
            <div class="line-height-1 text-[18px] font-semibold">Prix</div>
            <div class="text-[24px] font-semibold">{Prices}</div>
        </div>
        <div class="flex justify-center items-center h-max lg:justify-end w-full">
            <a href={`/boutique/${data.id}`}  class="px-5 py-2 bg-sky-700 w-full lg:w-max rounded-full text-white">Acheter</a>
        </div>
    </div>
</div>