---
export const prerender = false;
import Container from '../../../components/Container.astro';
import Sociaux from '../../../components/sociaux';
import { db } from '../../../firebase/client';
import Pages from '../../../layouts/Pages.astro';

import { doc, getDoc } from "firebase/firestore";

const { id } = Astro.params;

const url = Astro.request.url
const domaineName = new URL(url).origin
const data =  await fetch(`${domaineName}/api/boutique.json`)
const response = await data.json()
const productItem = response !== undefined && response.filter(el => el.id = id)

const produit = productItem[0]

// console.log(produit)
const priceParceInt = produit.price !== undefined ? parseInt(produit.price) : 0
const Price = new Intl.NumberFormat('fr-Fr', {style : 'currency', currency : 'XAF'}).format(priceParceInt)
---

<style>
    .screen {
        min-height: calc(100vh - 72px);
    }

    .pre {
        white-space: pre-wrap;
        padding: 0;
        font-family: 'Atkinson Hyperlegible';
    }
</style>




<Pages>
   <section class="screen bg-white">
        <Container>
            <div class="h-[56px] flex items-center ">
                <div>
                    <a href="/boutique" class="flex items-center gap-4">
                        <div class="w-[38px] aspect-square flex items-center justify-center rounded-full bg-white ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m10.828 12l4.95 4.95l-1.414 1.415L8 12l6.364-6.364l1.414 1.414z"/></svg>
                        </div>
                        <div>Retour</div>
                    </a>
                </div>
            </div>
            <div class="mt-6">
                <div class="flex gap-9">
                    <div class="w-[400px] aspect-square">
                        <img src={produit.image} alt="" class="w-full object-cover aspect-square">
                    </div>
                    <div class="w-[500px]">
                        <div class="text-4xl font-bold ">{produit.name}</div>
                        <div class="mb-[-5px] text-slate-800 mt-4">Categorie</div>
                        <div class="text-2xl font-semibold uppercase">{produit.categorie}</div>

                        <div class="mb-[-5px] text-slate-800 mt-4">Prix</div>
                        <div class="text-2xl font-semibold uppercase">{Price}</div>


                        <div class="mb-[-5px] text-slate-800 mt-4">Description</div>
                        <pre class="pre text-2xl">{produit.description}</pre>

                        <div class="mt-4">
                            <a href={`/boutique/${id}/achat`} class="py-3 px-5 rounded-full bg-green-600 text-white w-full font-bold flex justify-center">Acheter</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </Container>
   </section>
   <section class="mt-9">
        <Container>
            <Sociaux client:load
				classe = "line-height-1"
			/>
        </Container>
   </section>
</Pages>
